body{
    background-color: #050F2E;
    
}

.comedia-section h3{
    margin-top: 3px;
    margin-bottom: 10px;
}

.comedia-section {
    background-color: #020A1F;
    padding: 20px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    border-radius: 20px;
    
}

.carrossel{
    display: flex;
    gap: 15px;
    overflow: x;
    padding-bottom: 20px;
}

.carrossel img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
}